{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class= "card glass-card p-4 shadow" style="width: 22rem;">
        <h1 class="mb-4 text-center" style >Login</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
    <p class="text-center">Don't have a account?<a href="{% url "register" %}"> Register</a></p>
    </div>
    
</div>

{% endblock %}
