{% extends "base.html" %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
    {% if request.user.is_authenticated %}
        <div class="card glass-card p-4 shadow" style="width: 22rem;">
            <div class="d-flex align-items-center mb-4 gap-5">
                <p class="mb-0 text-left"> Logged in as {{request.user}}</p>
                <form action="{% url "logout" %}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        

    {% else %}
        <a href="{% url "login" %}">Login</a>
    {% endif %}

    <h1 class="mb-4 text-center fw-bold text-uppercase">My ToDo List</h1>
    <a class="btn btn-success mb-4" href="{% url "task-create" %}">Add Task</a>
    
    <form class="mb-4" action="" method="GET">
        <input type="text" name="search-area" value={{search_input}}>
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>Items</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td class="tasks">{{task.title}}</td>
                <td><a class="btn btn-success btn-sm" href="{% url "task-update" task.id %}">Edit</a></td>
                <td><a class="btn btn-danger btn-sm"href="{% url "task-delete" task.id %}">Delete</a></td>
            </tr>
        {% empty %}
            <h3>No items in list</h3>
        {% endfor %}
    </table>


    </div>
        
        </div>
    
{% endblock %}
