{% extends "base.html" %}
{% load static %}
{% block title %}Task{% endblock %}
{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card glass-card p-4 shadow position-relative" style="width: 22rem;">
        <h1 class= "mb-4 text-center">Task</h1>
        <a class="btn go-back position-absolute" style="top: 5px; right:5px;" href="{% url "tasks" %}"> Go back </a>
        <form method="POST" action="" >
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary mb-4">
        </form>
    </div>
</div>

{% endblock %}
