body{
    background-color: #1c352d; 
    font-family: lato;
}
.glass-card{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}
h1{
    font-family: Offside;
    font-size: 60px;
    font-style: bold;
    color: rgb(255, 255, 255);
}
form{
    color:aliceblue; 
}
p{
    padding: 10px;
    color:aliceblue;
}
table th{
    font-size: 20px;
    color:aliceblue;
}
table tr{
    font-size: 20px;
    color:aliceblue;
    text-transform: capitalize;
}
.logout-btn{
    background-color:transparent;
    border:none;
    color: aliceblue;
    font-weight: 600;
    padding: 5px 10px;
}
.logout-btn:hover{
    background-color:rgba(0, 123, 255, 0.1);
    color: rgb(177, 214, 247);
}
.go-back{
    background-color:transparent;
    border:none;
    color: white;
    font-weight: 300;
    padding: 5px 10px;
}
.go-back:hover{
    background-color:rgba(0, 123, 255, 0.1);
    color: rgb(177, 214, 247);
}